.trending-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trending-header {
    margin-top: 20px;
    text-decoration: underline;
}